.Background {
  background: linear-gradient(
    180deg,
    hsl(0, 0%, 80%),
    hsl(0, 0%, 100%),
    hsl(0, 0%, 100%)
  );
  background-attachment: fixed;
  height: 100%;
}

.Logo {
  max-width: 10vw;
  min-width: 60px;
  max-height: 140px;
}

.MainBanner {
  max-width: 100%;
}

h6 a:hover {
  color: hsl(0, 100%, 31%);
}

.HeaderButton:hover {
  color: hsl(0, 0%, 80%);
}
